<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <header>
    <div class="inner"><%- include('./partials/header.ejs') %></div>
  </header>

  <h3 class="home-user-head3">All of your Cats</h3>
  <%- include('./partials/category.ejs') %>
  <div class="home-main">
    <% pets.forEach(function(pet){ %>
      <a href="/pets/<%= pet._id %>">
        <div class="pet-user">
          <img src='data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>'>
          <div class="over">
            <p><%= pet.name %></p>
          </div>
         
        </div>
      </a>
  
    <% }); %> 
  </div>


  <footer>
    <div class="l-inner"><%- include('./partials/footer.ejs') %></div>
  </footer>
  
</body>
</html>