<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/sidebar.ejs') %>
<div class="white-bg-con">
  <div class="donation-title">
    <div class="donation-row">
      <p>Category</p>
    <p>Title</p>
    <p class="description">Description</p>
    </div>
    
  </div>

  <div class="donation-con">
    <% articles.forEach(function(article) { %>
      <div class="donation-row">
        <p><%= article.category %></p>
        <p><%= article.title %></p>
        <p class="description"><%= article.description %></p>
        <form class="pet-delete-form" action="/admin/pets/article-dashboard/<%= article._id %>?_method=DELETE" method="post">
          <button class="btn-pet-delete" type="submit" value="delete">Delete</button>
        </form>
        <form class="pet-update-form" action="/admin/pets/article-dashboard/<%= article._id %>/update" method="get">
          <button class="btn-pet-update" type="submit" value="Update">Update</button>
        </form>
      </div>
      
    <% }); %>
    
  </div>
</div>
  
</body>
</html>