<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs') %>
  <title>Document</title>
</head>
<body>
  <header>
    <div class="inner"><%- include('./partials/header.ejs') %></div>
  </header>
<div class="pet-detail-main">
  <div class="pet-detail-ucon">
    <img src='data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>'>
  </div>

  <div class="pet-detail-context">
    <h3><%= pet.name %></h3>
    <h4><%= pet.breed %> - <%= pet.kind %></h4>
    <h4><%= pet.sex %> - <%= pet.age %> - <%= pet.size %></h4>
    <h4>All of our pets already took injections.</h4>
    <h4 class="about-h4">About</h4>
    <p><%= pet.description %></p>
  </div>
  <div class="pet-contact-info">
    <img class="img-rounded-pet" src='data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>'>
    <h3>Considering <%= pet.name %> for adoption?</h3>
    <a class="mail-link" href="mailto:adoptpet@gmail.com">
      <p><img class="mail-img" src="/image/mail-icon.png"><span class="adopt-text">adoptpet@gmail.com</span></p>
    </a>
    <a class="ph-link" href="tel:09439590435">
      <p><img class="mail-img" src="/image/phone-icon.png"><span class="adopt-text-two">09439590435</span></p>
    </a>
   
    
  </div>
</div>

  <footer>
    <div class="l-inner"><%- include('./partials/footer.ejs') %></div>
  </footer>
  
</body>
</html>