<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Dashboard" }) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section>
      <h2>Dashboard</h2>
      <p><%= user.username  %> </p>
      <p><%= user.email  %> </p>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
