<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Pet Article",
    token}) %>
  </head>
  <body>
    <header>
      <div class="inner"><%- include('./partials/header.ejs') %></div>
    </header>
    <section class="home-sec">
      <div class="l-inner">
        <%- include('./partials/messages.ejs') %>
        <div class="pet-article-main">
          <h1>
            <% if (dog == 'dog') { %> Dog <% } else{%> Cat <% } %> Adoption
          </h1>
          <div class="lr-con">
            <div class="left-dog-article">
              <img
                src="<% if (dog == 'dog') { %> /image/dog-first.jpg <% } else{%> /image/cat-first.jpg <% } %>"
                alt="left-arti-dog"
              />
              <h3>Why Are Dogs Given Up?</h3>
              <p>
                Pet owners may lose their job, get divorced, move into a rental
                property that does not allow pets, have a baby, or develop
                health problems (allergies is one of the most common reasons
                people have for giving up their pet).
              </p>
            </div>
            <div class="right-dog-article">
              <img
                src="<% if (dog == 'dog') { %> /image/give-dog.jpg <% } else{%> /image/cat-second.jpg <% } %>"
                alt="right-arti-dog"
              />
              <h3>First 30 Days With A New Dog</h3>
              <p>
                The first few days in your home are special and critical for a
                pet. Your new dog will be confused about where he is and what to
                expect from you. Setting up some clear structure with your
                family for your dog will be paramount in making.
              </p>
            </div>
          </div>

          <div class="dogie-main">
            <% articles.forEach(function(article){ %>
            <div class="center-main">
              <div class="left-img">
                <img
                  src=""
                  alt=""
                  class="<% if (article.category == 'dog') { %> random-image <% } else{%> cat-image <% } %>"
                />
              </div>
              <div class="right-text">
                <p class="dog-adoption"><%= article.category %> Adoption</p>
                <h3><%= article.title %></h3>
                <p><%= article.description %></p>
              </div>
            </div>
            <% });%>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <%- include('./partials/footer.ejs')  %> 
    </footer>

    <%- include('./partials/script.ejs') %>
  </body>
</html>
