<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Personal Info",
    token }) %>
  </head>

  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="account-sec">
      <div class="l-inner">
        <%- include('./partials/sidebar.ejs', {user}) %>
       <div class="account-wrapper">
        <div class="personal-info">
          <h2>Personal Info:</h2>
            <%- include('./partials/messages.ejs') %>
          <div class="username-wrapper">
            <h3>Username</h3>
            <div class="username">
              <h4><%= user.username %></h4>
              <p class="edit">
                <a href="/personal-info/edit-username/<%= user._id  %>"
                  ><i class="fa fa-pen"></i
                ></a>
              </p>
            </div>
          </div>
          <div class="email-wrapper">
            <h3>Email</h3>
            <div class="email">
              <h4><%= user.email %></h4>
              <p class="edit">
                <a href="/personal-info/edit-email/<%= user._id  %>"
                  ><i class="fa fa-pen"></i
                ></a>
              </p>
            </div>
          </div>
          <div class="password-wrapper">
            <h3>Password</h3>
            <div class="password">
              <h4>
                <span>•</span>
                <span>•</span>
                <span>•</span>
                <span>•</span>
                <span>•</span>
                <span>•</span>
              </h4>
              <p class="edit">
                <a href="/personal-info/edit-password/<%= user._id  %>"
                  ><i class="fa fa-pen"></i
                ></a>
              </p>
            </div>
          </div>
        </div>
       </div>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
