<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Adoption Form",
    token, user }) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="account-sec">
      <div class="l-inner">
        <div style="margin: 0 auto;">
          <div class="admin">
            <% if (!adoptions.length) { %>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40vh;
              "
            >
              <h3 style="font-size: 24px">No Adoption List</h3>
            </div>
            <% } else{%>
            <div class="table-title">
              <h2>Adoption Request Form List</h2>
            </div>
            <div class="pet-tbl-wrapper" style="overflow-x: auto">
              <table id="table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Age</th>
                    <th>Size</th>
                    <th>Sex</th>
                    <th>Kind</th>
                    <th>Description</th>
                    <th>Available</th>
                  </tr>
                </thead>
                <tbody>
                  <% adoptions.forEach(function({_id, userId, petId,
                  desc}, i){ %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td><%= userId.username  %> </td>
                    <td><%= userId.email  %> </td>
                    <td>
                      <img
                        src="data:<%= petId.contentType %>;base64,<%= petId.imageBase64 %>"
                      />
                    </td>
                    <td>
                      <a href="/pets/<%= petId._id %> "><%= petId.name %></a>
                    </td>
                    <td><%= petId.breed %></td>
                    <td><%= petId.age %></td>
                    <td><%= petId.size %></td>
                    <td><%= petId.sex %></td>
                    <td><%= petId.kind %></td>
                    <td><%= desc %></td>
                    <td><% if (petId.isAvailable) { %>
                      <i class="fa-solid fa-circle-check av-icon"></i></i>
                    <% } else{%>
                      <i class="fa-sharp fa-solid fa-circle-xmark unav-icon"></i>
                      <% } %> </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </section>
    <footer><%- include('./partials/footer.ejs') %></footer>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
