<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Edit Password",
    token }) %>
  </head>

  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="auth-sec">
      <div class="l-inner">
        <h2>Change Password</h2>
        <%- include('./partials/messages.ejs') %>
        <form action="/users/<%= user._id  %>" method="post">
          <input
            type="password"
            id="currentPassword"
            name="currentPassword"
            placeholder="Current Password"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="New Password"
          />
          <input
            type="password"
            id="confirmPass"
            name="confirmPass"
            placeholder="Confirm Password"
          />
          <div class="show-pass">
            <input type="checkbox" id="show-password" />
            <span>Show Password</span>
          </div>
          <input class="btn" type="submit" value="Submit" />
        </form>
        <div class="form-text">
          <p><a href="/personal-info">Back</a></p>
        </div>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
