<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Pets", token,
    user}) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="home-sec">
      <div class="l-inner">
        <h3 class="home-user-head3">My Favorite List</h3>
        <div class="alert-wrapper">
          <%- include('./partials/messages.ejs') %>
        </div>
        <div class="home-main-all">
          <% favorites.forEach(function(fav){ %>
          <div class="pet-user-all">
            <a href="/pets/<%= fav.pets._id %>">
              <img
                src="data:<%= fav.pets.contentType %>;base64,<%= fav.pets.imageBase64 %>"
              />
              <div class="over">
                <p><%= fav.pets.name %></p>
              </div>
            </a>
            <% if (typeof token !== 'undefined') { %> <% if (typeof token !==
            'undefined') { %>
            <form
              class="save-form"
              action="/favorites/<%= fav._id %>?_method=DELETE"
              method="post"
            >
              <button type="submit" class="btn-save">
                <i class="fa-solid fa-heart"></i>
              </button>
            </form>
            <% } %> <% } %>
          </div>
          <% }); %>
        </div>
      </div>
      <% if (!favorites.length) { %>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40vh;
        "
      >
        <h3 style="font-size: 24px">No Favorities</h3>
      </div>
      <% } else{%>
      <div id="pagination-container"></div>
      <% } %>
    </section>
    <footer><%- include('./partials/footer.ejs') %></footer>
    <%- include('./partials/script.ejs') %>

    <script></script>
  </body>
</html>
