<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Home", token,
    user}) %>
  </head>

  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="home-sec">
      <div class="l-inner">
        <%- include('./partials/messages.ejs') %>
        <div class="bg-pet">
          <h1 class="home-user-heading">Find your best buddies</h1>
          <h2 class="home-user-head2">
            Browse pets from our network , you will get your buddy
          </h2>
        </div>
        <div class="home-main">
          <% if (typeof token !== 'undefined' && favorites.length) { %>
          <h3 class="home-user-head3">My Favorite Pets</h3>
          <span class="next2">
            <img src="/image/img_arrow_right.png" alt="Right Arrow" />
          </span>
          <span class="prev2">
            <img src="image/img_arrow_left.png" alt="Left Arrow" />
          </span>
          <div class="con-slick">
            <ul class="slider2">
              <% favorites.forEach(function(fav){ %>
              <li>
                <div class="pet-user">
                  <a href="/pets/<%= fav.pets._id %>">
                    <img
                      src="data:<%= fav.pets.contentType %>;base64,<%= fav.pets.imageBase64 %>"
                    />
                    <div class="over">
                      <p><%= fav.pets.name %></p>
                    </div>
                  </a>
                  <% if (typeof token !== 'undefined') { %>
                  <form
                    class="save-form"
                    action="/favorites/<%= fav._id %>?_method=DELETE"
                    method="post"
                  >
                    <input
                      type="hidden"
                      name="petId"
                      value="<%= fav.pets._id %>"
                    />
                    <button type="submit" class="btn-save">
                      <i class="fa-solid fa-heart"></i>
                    </button>
                  </form>
                  <% } %>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
          <% } %>
        </div>
        <!--planning to adopt a pet-->
        <div class="three-list-container">
          <h3 class="planning-h3">Planning to Adopt a Pet?</h3>
          <div class="floating-div clearfix">
            <div>
              <h3>Donation Requests</h3>
              <p>Help our organization by making donation</p>
              <a href="/donation-requests" class="learn-more-btn">LEARN MORE</a>
            </div>
            <div>
              <h3>Pet Care Tips</h3>
              <p>
                Learn what else can you do to keep your dog healthy and happy
              </p>
              <a href="/petcare-tips" class="learn-more-btn">LEARN MORE</a>
            </div>
            <div>
              <h3>Pet Training Tips</h3>
              <p>Learn the best way to train your pets</p>
              <a href="/training-tips/cat-training-tips" class="learn-more-btn"
                >LEARN MORE</a
              >
            </div>
          </div>
        </div>

        <!--latest pet first-->
        <div class="latest-pets">
          <h3>Latest Pets</h3>
          <a href="/pets">View All Pets</a>
        </div>
        <div class="home-main">
          <span class="next1">
            <img src="/image/img_arrow_right.png" alt="Right Arrow" />
          </span>
          <span class="prev1">
            <img src="image/img_arrow_left.png" alt="Left Arrow" />
          </span>
          <div class="con-slick">
            <ul class="slider">
              <% latestPets.forEach(function(pet){ %>
              <li>
                <div class="pet-user">
                  <a href="/pets/<%= pet._id %>">
                    <img
                      src="data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>"
                    />
                    <div class="over">
                      <p><%= pet.name %></p>
                    </div>
                  </a>
                  <% if (typeof token !== 'undefined') { %>
                  <form
                    class="save-form"
                    action="/favorites/<%= pet._id %>"
                    method="post"
                  >
                    <button type="submit" class="btn-save">
                      <% var pid = [] %> <% petId.filter(p => { let id = p ==
                      pet._id; pid.push(id) }) %> <% if (pid.includes(true)) {
                      %>
                      <i class="fa-solid fa-heart"></i>
                      <% } else{%> <i class="fa-regular fa-heart"></i><% } %>
                    </button>
                  </form>
                  <% } else{%>
                  <div class="save-form">
                    <button class="btn-save">
                      <a href="/login"><i class="fa-regular fa-heart"></i></a>
                    </button>
                  </div>
                  <% } %>
                </div>
              </li>

              <% }); %>
            </ul>
          </div>
        </div>
        <!--articles-->
        <div class="article-section-home">
          <div class="dog-article">
            <img
              class="img-dog-arti-n"
              src="image/dog-arti.jpeg"
              alt="dog-image"
            />
            <img
              src="image/dog-arti.jpeg"
              class="img-dog-arti"
              alt="dog-image"
            />
            <h3>Dog Adoption Articles</h3>
            <p>Learn more about caring for your new dog</p>
            <a href="/articles?category=dog">
              <div>READ MORE</div>
            </a>
          </div>
          <div class="cat-article">
            <img
              src="image/cat-arti.jpg"
              class="img-cat-arti-n"
              alt="cat-image"
            />
            <img
              src="image/cat-arti.jpg"
              class="img-cat-arti"
              alt="cat-image"
            />
            <h3>Cat Adoption Articles</h3>
            <p>Learn more about caring for your new cat</p>
            <a href="/articles?category=cat">
              <div>READ MORE</div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer><%- include('./partials/footer.ejs') %></footer>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
