<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Pet Table" }) %>
  </head>
  <body>
    <header><%- include('./partials/admin-nav.ejs') %></header>
    <section class="account-sec">
      <div class="l-inner">
        <%- include('./partials/admin-sidebar.ejs', {user}) %>
        <div class="account-wrapper">
          <div class="admin">
            <div class="table-title">
              <h2>Pet Table</h2>
              <a href="/admin/pets/create">Create New Pet</a>
            </div>
            <div class="pet-tbl-wrapper" style="overflow-x: auto">
              <table id="table">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Age</th>
                    <th>Size</th>
                    <th>Sex</th>
                    <th>Kind</th>
                    <th>Description</th>
                    <th>Available</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <% pets.slice().reverse().forEach(function(pet, i){ %>
                  <tr>
                    <td><%= i + 1 %></td>
                    <td>
                      <img
                        src="data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>"
                      />
                    </td>
                    <td><%= pet.name %></td>
                    <td><%= pet.breed %></td>
                    <td><%= pet.age %></td>
                    <td><%= pet.size %></td>
                    <td><%= pet.sex %></td>
                    <td><%= pet.kind %></td>
                    <td><%= pet.description %></td>
                    <td><% if (pet.isAvailable) { %>
                      <i class="fa-solid fa-circle-check av-icon"></i></i>
                    <% } else{%>
                      <i class="fa-sharp fa-solid fa-circle-xmark unav-icon"></i>
                      <% } %> </td>
                    <td>
                      <form
                        class="pet-update-form"
                        action="/admin/pets/edit/<%= pet._id %>"
                        method="get"
                      >
                        <button
                          class="btn-update"
                          type="submit"
                          value="Update"
                        >
                          Update
                        </button>
                      </form>
                    </td>
                    <td>
                      <form
                        class="pet-delete-form"
                        onclick=" return confirm('Are you sure you want to delete?')"
                        action="/admin/pets/<%= pet._id %>?_method=DELETE"
                        method="post"
                      >
                        <button
                          class="btn-delete"
                          type="submit"
                          value="delete"
                        >
                          Delete
                        </button>
                      </form>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
