<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Pet Detail",
    token}) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="home-sec">
      <div class="l-inner">
        <div class="pet-detail-main">
          <div class="pet-detail-ucon">
            <img
              src="data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>"
            />
          </div>
          <div class="pet-detail-context">
             <div class="fav-icon">
            <% if (typeof token !== 'undefined') { %>
            <form action="/favorites/<%= pet._id %>" method="post">
              <button type="submit" class="btn-save">
                <% if (pet.isFav == 'active') { %>
                <i class="fa-solid fa-heart"></i>
                <% } else{%> <i class="fa-regular fa-heart"></i><% } %>
              </button>
            </form>
            <% } %>
          </div>
            <h3><%= pet.name %></h3>
            <h4><%= pet.breed %> - <%= pet.kind %></h4>
            <h4><%= pet.sex %> - <%= pet.age %> - <%= pet.size %></h4>
            <h4>All of our pets already took injections.</h4>
            <h4 class="about-h4">About</h4>
            <p><%= pet.description %></p>
          </div>
          <div class="pet-contact-info">
            <img
              class="img-rounded-pet"
              src="data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>"
            />
            <h3>Considering <%= pet.name %> for adoption?</h3>
            <a class="mail-link" href="mailto:adoptpet@gmail.com">
              <p>
                <img class="mail-img" src="/image/mail-icon.png" /><span
                  class="adopt-text"
                  >adoptpet@gmail.com</span
                >
              </p>
            </a>
            <a class="ph-link" href="tel:09439590435">
              <p>
                <img class="mail-img" src="/image/phone-icon.png" /><span
                  class="adopt-text-two"
                  >09439590435</span
                >
              </p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer><%- include('./partials/footer.ejs') %></footer>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
