<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Pet Detail",
    token}) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="home-sec">
      <div class="l-inner">
        <div class="pet-detail-main">
          <div class="pet-detail-ucon">
            <img
              src="data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>"
            />
          </div>
          <div class="alert-wrapper">
            <%- include('./partials/messages.ejs') %>
          </div>
          <div class="pet-detail-context">
            <div class="fav-icon">
              <% if (typeof token !== 'undefined') { %>
              <form action="/favorites/<%= pet._id %>" method="post">
                <button type="submit" class="btn-save">
                  <% if (pet.isFav == 'active') { %>
                  <i class="fa-solid fa-heart"></i>
                  <% } else{%> <i class="fa-regular fa-heart"></i><% } %>
                </button>
              </form>
              <% } %>
            </div>
            <h3><%= pet.name %></h3>
            <h4><%= pet.breed %> - <%= pet.kind %></h4>
            <h4><%= pet.sex %> - <%= pet.age %> - <%= pet.size %></h4>
            <h4>All of our pets already took injections.</h4>
            <h4 class="about-h4">About</h4>
            <p><%= pet.description %></p>
          </div>
          <div class="pet-contact-info">
            <img
              class="img-rounded-pet"
              src="data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>"
            />
            <h3>Considering <%= pet.name %> for adoption?</h3>
            <a class="mail-link" href="mailto:adoptpet@gmail.com">
              <p>
                <img class="mail-img" src="/image/mail-icon.png" /><span
                  class="adopt-text"
                  >adoptpet@gmail.com</span
                >
              </p>
            </a>
            <a class="ph-link" href="tel:09439590435">
              <p>
                <img class="mail-img" src="/image/phone-icon.png" /><span
                  class="adopt-text-two"
                  >09439590435</span
                >
              </p>
            </a>
            <% if (typeof token !== 'undefined') { %>
            <div class="pet-sign-btn">
              <button id="myBtn">
                <i class="fa-sharp fa-solid fa-notes-medical"></i>Adoption
                Register
              </button>
            </div>

            <% } %>
          </div>
        </div>
      </div>
    </section>
    <footer><%- include('./partials/footer.ejs') %></footer>
    <% if (typeof token !== 'undefined') { %>
    <div id="myModal" class="modal">
      <div class="modal-content adoption-sign-form">
        <span class="close">&times;</span>
        <h2>Adoption Register Form</h2>
        <form action="/adoption-register" method="post">
          <div class="adoption-sign-header">
            <img
              id="image"
              src="data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>"
              class="img-update-pet-form"
            />
            <input type="hidden" name="petId" value="<%= pet._id %>" />
            <input
              type="hidden"
              name="contentType"
              value="<%= pet.contentType %>"
            />
            <input
              type="hidden"
              name="imageBase64"
              value="<%= pet.imageBase64 %>"
            />
            <input
              class="input"
              type="hidden"
              name="name"
              value="<%= pet.name %>"
            />
            <h3><%= pet.name %></h3>
          </div>

          <input
            style="width: 100%"
            class="input"
            type="hidden"
            name="breed"
            value="<%= pet.breed %>"
          />
          <h3>Breed: <%= pet.breed %></h3>

          <input
            class="input"
            type="hidden"
            name="kind"
            value="<%= pet.kind %>"
          />
          <h3>Kind: <%= pet.breed %></h3>
          <input
            class="input"
            type="hidden"
            name="age"
            value="<%= pet.age %>"
          />
          <h3>Age: <%= pet.age %></h3>

          <input
            class="input"
            type="hidden"
            name="size"
            value="<%= pet.size %>"
          />
          <h3>Size: <%= pet.size %></h3>
          <input
            class="input"
            type="hidden"
            name="sex"
            value="<%= pet.sex %>"
          />
          <h3>Sex: <%= pet.sex %></h3>

          <textarea
            name="desc"
            id="desc"
            cols="4"
            rows="4"
            placeholder="Description"
            required
          ></textarea>
          <button class="btn" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <% } %> <%- include('./partials/script.ejs') %>
  </body>
</html>
