<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Update Pet" }) %>
  </head>
  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="account-sec">
      <div class="l-inner">
        <%- include('./partials/sidebar.ejs', { user }) %>
        <div class="account-wrapper">
          <div class="pet-form-wrapper">
            <h2>Update Pet</h2>
            <% if (errors) { %> <% errors.forEach(function(error) { %>
            <div class="error"><%= error.msg %></div>
            <% }); %> <% } %>
            <form
              action="/admin/pets/<%= pet.id %>?_method=PUT"
              class="pet-update-form-2"
              enctype="multipart/form-data"
              method="post"
            >
              <input
                type="file"
                name="images"
                id="images"
                multiple
                class="fileField"
              />
              <br /><br />
              <img
                id="image"
                src="data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>"
                class="img-update-pet-form"
              />
              <input
                class="input"
                type="text"
                name="name"
                id="name"
                placeholder="name"
                value="<%= pet.name %>"
              />
              <br /><br />

              <input
                class="input"
                type="text"
                name="breed"
                id="breed"
                placeholder="breed"
                value="<%= pet.breed %>"
              /><br /><br />

              <input
                class="input"
                type="text"
                name="age"
                id="age"
                placeholder="age"
                value="<%= pet.age %>"
              /><br /><br />

              <select name="size">
                <option><--- Select Size ---></option>
                <% if (pet.size==="Small" ) { %>
                <option value="Small" selected>Small</option>
                <option value="Medium">Medium</option>
                <option value="Big">Big</option>
                <% }%> <% if (pet.size==="Medium" ){ %>
                <option value="Small">Small</option>
                <option value="Medium" selected>Medium</option>
                <option value="Big">Big</option>
                <% } %> <% if (pet.size==="Big" ){ %>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Big" selected>Big</option>
                <% } %>
              </select>
              <br /><br />

              <select name="sex">
                <option><--- Select Sex ---></option>
                <% if (pet.sex==="male" ) { %>
                <option value="male" selected>male</option>
                <option value="female">female</option>
                <% }%> <% if (pet.sex==="female" ){ %>
                <option value="male">male</option>
                <option value="female" selected>female</option>
                <% } %>
              </select>
              <br /><br />

              <select name="kind">
                <option><--- Select Kind ---></option>
                <% if (pet.kind==="cat" ) { %>
                <option value="cat" selected>cat</option>
                <option value="dog">dog</option>
                <option value="other">other</option>
                <% }%> <% if (pet.kind==="dog" ){ %>
                <option value="cat">cat</option>
                <option value="dog" selected>dog</option>
                <option value="other">other</option>
                <% } %> <% if (pet.kind==="other" ){ %>
                <option value="cat">cat</option>
                <option value="dog">dog</option>
                <option value="other" selected>other</option>
                <% } %>
              </select>
              <br /><br />
              <textarea
                name="description"
                id="description"
                cols="30"
                rows="10"
                placeholder="Good pet to adopt"
              >
              <%= pet.description %> 
            </textarea>
              <br /><br />
              <label for="ava">Available</label>
              <select name="ava">
                <% if (pet.isAvailable===true) { %>
                <option value="true" selected>true</option>
                <option value="false">false</option>
                <% }%> <% if (pet.isAvailable===false){ %>
                <option value="true">true</option>
                <option value="false" selected>false</option>
                <% } %>
              </select>
              <br /><br />
              <button class="btn" type="submit" name="submit-button">Update Pet</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
