<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs', {title: "Pet Adoption | Create Pet Article" }) %>
</head>

<body>
  <header><%- include('./partials/header.ejs') %></header>
  <section class="account-sec">
    <div class="l-inner">
      <%- include('./partials/sidebar.ejs', { user }) %>
      <div class="account-wrapper">
        <div class="pet-form-wrapper">
          <h2>Add New Article</h2>
          <% if (errors) { %> <% errors.forEach(function(error) { %>
          <div class="error"><%= error.msg %></div>
          <% }); %> <% } %>

          <form action="/admin/pet-article/create" class="pet-form" method="post">
            <select name="category">
              <option>
                <--- Select Category --->
              </option>
              <option value="cat">Cat</option>
              <option value="dog">Dog</option>
            </select><br /><br />
            <input class="input" type="text" name="title" placeholder="Title" value="<%= article.title %>" /><br /><br />
            <textarea name="description" cols="30" rows="10" placeholder="Description">
<%= article.description %></textarea><br /><br />
            <button class="btn" type="submit" name="submit-button">Add Article</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <%- include('./partials/script.ejs') %>
</body>

</html>