<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: "Pet Adoption | Setting", token
    }) %>
  </head>

  <body>
    <header><%- include('./partials/header.ejs') %></header>
    <section class="account-sec">
      <div class="l-inner">
        <%- include('./partials/sidebar.ejs', {user}) %>
        <div class="account-wrapper">
          <div class="setting">
            <h2>Setting</h2>
            <div class="alert-wrapper">
              <%- include('./partials/messages.ejs') %>
            </div>
            <form action="/users/setting/<%= user._id  %>?_method=PUT" method="post">
              <div class="username">
                <label for="">Username</label>
                <input
                  type="text"
                  name="username"
                  placeholder="<%= user.username %> "
                />
              </div>
              <div class="email">
                <label for="">Email</label>
                <input
                  type="email"
                  name="email"
                  placeholder="<%= user.email %> "
                />
              </div>
              <div class="password">
                <label for="">Current Password</label>
                <input
                  type="password"
                  id="currentPassword"
                  name="currentPassword"
                  placeholder="• • • • • •"
                />
              </div>
              <div class="password">
                <label for="">New Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="• • • • • •"
                />
              </div>
              <div class="show-pass">
                <input type="checkbox" id="show-password" />
                <span>Show Password</span>
              </div>
              <input class="btn btn-register" type="Submit" value="Submit" />
            </form>
          </div>
          <div class="delete-account">
            <%- include('./partials/messages.ejs') %>
            <form action="/users/<%= user._id %>?_method=DELETE" method="post">
              <input
                class="pass"
                type="password"
                name="password"
                placeholder="Enter Your Password"
              />
              <input class="btn-delete" type="Submit" value="Delete Account" />
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
