<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/sidebar.ejs') %>
  <h3 class="donation-head3">Donation Request Form</h3>
  <form action="/admin/pets/donate-request" class="donation-form" method="post">
    <% if (errors) { %>
      <% errors.forEach(function(error) { %>
        <div class="error">
          <%= error.msg %>
        </div>
      <% }); %>
    <% } %>
    <input type="text" name="itemName" placeholder="Item Name" value="<%= donation.itemName %>"> <br><br>
    <input type="text" name="quantity" placeholder="Quantity" value="<%= donation.quantity %>"> <br><br>
    <textarea name="description"  cols="30" rows="10"><%= donation.description %></textarea> <br><br>
    <button type="submit" name="submit-button">Add Donation request</button>

  </form>
</body>
</html>