<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs') %>
  <title>Pet Detail</title>
</head>

<body>
  <div class="sidenav">
    <a href="/admin/pets">Dashboard</a>
    <a href="/admin/pets/create">create pet</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div>
  <div class="pet-detail">
    <img src='data:<%= pet.contentType %>;base64,<%= pet.imageBase64 %>'>
    <h2>
      <%= pet.name %>
    </h2>
    <p> <%= pet.name %> is a  <%= pet.kind %></p>
    <p> <%= pet.name %> is  <%= pet.breed %> breed</p>
    <p>
      <%= pet.name %> age is <%= pet.age %>
    </p>
    <p><%= pet.size %> size </p>
    <p><%= pet.name %> is  <%= pet.sex %>  </p>
    <p><%= pet.description %> </p>
    <% if(pet.isAvailable==true){ %>
        <p>Available</p>
    <% } else { %>
        <p>Unavailable</p>
    <% } %>
      <form class="pet-delete-form" action="/admin/pets/<%= pet._id %>?_method=DELETE" method="post">
        <button class="btn-pet-delete" type="submit" value="delete">Delete</button>
      </form>
      <form class="pet-update-form" action="/admin/pets/<%= pet._id %>/update" method="get">
        <button class="btn-pet-update" type="submit" value="Update">Update</button>
      </form>
  </div>

</body>

</html>