<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <header>
    <div class="l-inner"><%- include('./partials/header.ejs') %></div>
  </header>
<div class="donation-main-user">
  <h3>Donation requests for our pets</h3>
  <p class="pet-donation-inquiry">
    Call Us or Email Us , We will contact you soon
  </p>
  <a href="contact-us" class="contact-us-user">Contact us</a>


  <% requests.forEach(function(request){ %>
    <div class="donation-user-request">
      <p><%= request.itemName %></p>
      <p><%= request.quantity %> items Needed.</p>
      <p><%= request.description %> </p>
     
    </div>
  <% }); %>

</div>

  <footer>
    <div class="l-inner"><%- include('./partials/footer.ejs') %></div>
  </footer>
</body>
</html>