<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs', {title: "Pet Adoption | Donation Requests", token }) %>
</head>

<body>
  <header>
    <div class="inner"><%- include('./partials/header.ejs') %></div>
  </header>
  <section class="home-sec">
    <div class="l-inner">
      <div class="donation-main-user">
        <h3>Donation requests for our pets</h3>
        <p class="pet-donation-inquiry">
          Call Us or Email Us , We will contact you soon
        </p>
        <p class="contact-us-user">
          Contact us
          <a href="mailto:adoptpet@gmail.com">adoptpet@gmail.com</a>
          <a href="tel:09439590435">09439590435</a>
        </p>
        <% if (requests.length > 0) { %> <%
          requests.forEach(function(request){ %>
        <div class="donation-user-request">
          <p><%= request.itemName %></p>
          <p><%= request.quantity %> items Needed.</p>
          <p><%= request.description %></p>
        </div>
        <% }); %> <% } else{ %>
        <h2 style="text-align: center">No Donation Request</h2>
        <% } %>
        <footer>
          <div class="l-inner"><%- include('./partials/footer.ejs') %></div>
        </footer>
      </div>
    </div>
  </section>
  <%- include('./partials/script.ejs') %>
</body>

</html>